# Ejercicio - Busqueda de Alojamiento en Airbnb.

Supongamos que somos un agente de [Airbnb](http://www.airbnb.com) localizado en Lisboa, y tenemos que atender peticiones de varios clientes. Tenemos un archivo llamado `airbnb.csv` (en la carpeta data) donde tenemos información de todos los alojamientos de Airbnb en Lisboa.

In [38]:
import pandas as pd
df_airbnb = pd.read_csv("airbnb.csv")

In [39]:
df_airbnb.head()

,room_id,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
0,6499,14455,Entire home/apt,Belém,8,5.0,2,1.0,57.0
1,17031,66015,Entire home/apt,Alvalade,0,0.0,2,1.0,46.0
2,25659,107347,Entire home/apt,Santa Maria Maior,63,5.0,3,1.0,69.0
3,29248,125768,Entire home/apt,Santa Maria Maior,225,4.5,4,1.0,58.0
4,29396,126415,Entire home/apt,Santa Maria Maior,132,5.0,4,1.0,67.0

In [9]:
df_airbnb.dtypes

room_id                   int64
host_id                   int64
room_type                object
neighborhood             object
reviews                   int64
overall_satisfaction    float64
accommodates              int64
bedrooms                float64
price                   float64
dtype: object

En concreto el dataset tiene las siguientes variables:
- room_id: el identificador de la propiedad
- host_id: el identificador del dueño de la propiedad
- room_type: tipo de propiedad (vivienda completa/(habitacion para compartir/habitación privada)
- neighborhood: el barrio de Lisboa
- reviews: El numero de opiniones
- overall_satisfaction: Puntuacion media del apartamento
- accommodates: El numero de personas que se pueden alojar en la propiedad
- bedrooms: El número de habitaciones
- price: El precio (en euros) por noche

## Usando Pandas

### Caso 1.

Alicia va a ir a Lisboa durante una semana con su marido y sus 2 hijos. Están buscando un apartamento con habitaciones separadas para los padres y los hijos. No les importa donde alojarse o el precio, simplemente quieren tener una experiencia agradable. Esto significa que solo aceptan lugares con más de 10 críticas con una puntuación mayor de 4. Cuando seleccionemos habitaciones para Alicia, tenemos que asegurarnos de ordenar las habitaciones de mejor a peor puntuación. Para aquellas habitaciones que tienen la misma puntuación, debemos mostrar antes aquellas con más críticas. Debemos darle 3 alternativas.

In [79]:
details = df_airbnb 


details[(details['reviews']>10) & (details['overall_satisfaction']>4)].sort_values(by="overall_satisfaction",ascending = False).head(3)

,room_id,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
2,25659,107347,Entire home/apt,Santa Maria Maior,63,5.0,3,1.0,69.0
5629,9379839,48663616,Private room,Penha de França,37,5.0,2,1.0,23.0
5562,9193166,26494184,Entire home/apt,Santo António,36,5.0,4,2.0,85.0

### Caso 2

Roberto es un casero que tiene una casa en Airbnb. De vez en cuando nos llama preguntando sobre cuales son las críticas de su alojamiento. Hoy está particularmente enfadado, ya que su hermana Clara ha puesto una casa en Airbnb y Roberto quiere asegurarse de que su casa tiene más críticas que las de Clara. Tenemos que crear un dataframe con las propiedades de ambos. Las id de las casas de Roberto y Clara son 97503 y 90387  respectivamente. Finalmente guardamos este dataframe como excel llamado "roberto.xls

In [66]:
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\user\anaconda3\lib\site-packages (3.0.10)
Requirement already satisfied: et_xmlfile in c:\users\user\anaconda3\lib\site-packages (from openpyxl) (1.1.0)

In [72]:
#details_2=df_airbnb

#details_2[(details_2['room_id']==97503) | (details_2['room_id']==90387)]

casa_nueva = pd.DataFrame(index=['1'],columns= ['room_id','host_id','room_type','neighborhood','reviews','overall_satisfaction','accommodates','bedrooms','price'])
casa_nueva['room_id']=91325
casa_nueva['host_id']=501298
casa_nueva['room_type']='Private room'
casa_nueva['neighborhood']='Santo António'
casa_nueva['reviews'] = 254
casa_nueva['overall_satisfaction']=6.0
casa_nueva['accommodates']=2
casa_nueva['bedrooms']=1.0
casa_nueva['price']=50.0

casa_nueva.to_excel('roberto.xlsx', index=False)


### Caso 3

Diana va a Lisboa a pasar 3 noches y quiere conocer a gente nueva. Tiene un presupuesto de 50€ para su alojamiento. Debemos buscarle las 10 propiedades más baratas, dandole preferencia a aquellas que sean habitaciones compartidas *(room_type == Shared room)*, y para aquellas viviendas compartidas debemos elegir aquellas con mejor puntuación.

In [84]:

#details[(details['reviews']>10) & (details['overall_satisfaction']>4)].sort_values(by="overall_satisfaction",ascending = False).head(3)
casa_diana = df_airbnb

casa_diana[(casa_diana['price']<=50)&(casa_diana['room_type']=='Shared room')&(casa_diana['overall_satisfaction'])].sort_values(by='overall_satisfaction',ascending=False).head(10)

,room_id,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
7034,12268067,66077974,Shared room,Arroios,96,5.0,1,1.0,16.0
6527,11523225,58899339,Shared room,Avenidas Novas,4,5.0,9,1.0,23.0
7932,13570032,78249982,Shared room,Misericórdia,8,5.0,10,1.0,48.0
4911,7722107,40574313,Shared room,Avenidas Novas,22,5.0,4,1.0,36.0
5964,10172929,52218341,Shared room,Areeiro,17,5.0,1,1.0,20.0
6056,10397682,32344156,Shared room,Misericórdia,15,5.0,8,1.0,13.0
7552,13078189,72524317,Shared room,Ajuda,7,5.0,2,1.0,21.0
7313,12826411,6981742,Shared room,Alvalade,12,5.0,1,1.0,22.0
3727,5803348,29676067,Shared room,Misericórdia,19,5.0,9,1.0,20.0
3663,5725814,29676067,Shared room,Misericórdia,23,5.0,6,1.0,21.0